* {
  box-sizing: border-box;
}

.auth-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #eef2f7, #dde5f0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-card {
  background: white;
  width: 380px;
  padding: 35px;
  border-radius: 22px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

/* Header */
.brand {
  text-align: center;
  color: #6c63ff;
  margin-bottom: 6px;
}

.tagline {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

/* Tabs */
.auth-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  font-weight: bold;
}

.auth-tabs span {
  cursor: pointer;
  padding-bottom: 8px;
  color: #555;
}

.auth-tabs .active {
  color: #6c63ff;
  border-bottom: 3px solid #6c63ff;
}

/* Form */
.auth-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.forgot {
  text-align: right;
  font-size: 13px;
  color: #6c63ff;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Buttons */
.primary-btn {
  width: 100%;
  padding: 14px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 25px;
}

.primary-btn:hover {
  background: #5a54e6;
}

/* Divider */
.divider {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.divider span {
  background: white;
  padding: 0 12px;
  color: #999;
}

.divider::before {
  content: "";
  height: 1px;
  background: #ddd;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

/* Social buttons */
.social-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  font-size: 14px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease;
}

.social-btn:hover{
  background-color: #f0eeee;
}

.google {
  background: none;
  border: 1px solid lightgrey;
  border-radius: 30px;
  color: black;
}

.apple {
  background: none;
  border: 1px solid lightgrey;
  border-radius: 30px;
  color: black;
}

.auth-error {
  color: #dc2626;
  font-size: 14px;
  margin-bottom: 12px;
}
